20 3 * * * debrepo [ -x /home/debrepo/scripts/cleanup.sh ] && /home/debrepo/scripts/cleanup.sh
25 3 * * * mkjail  [ -x /home/debrepo/scripts/cleanup.mkjail.sh ] && /home/debrepo/scripts/cleanup.mkjail.sh

